<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Landing page for searsbeers.com.">

    <title>Sears Beers</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/pure-release-0.6.0/pure-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts/gallery-grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts/gallery.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sears_beers_brews.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pure-release-0.6.0/grids-responsive-min.css') }}">

    <script src="{{ url_for('static', filename='jquery-1.11.2.min.js') }}"></script>
    <script type="text/javascript"
        src="/static/js/sijax/sijax.js"></script>
    <script type="text/javascript">
        {{ g.sijax.get_js()|safe }}
    </script>
    <script type="text/javascript">

    $(document).ready(function(){

      var grain_counter = 2;
      $("#addGrain").click(function () {
           //grain type box
           var newTextBoxDiv = $(document.createElement("div")).attr("class", "pure-u-1-2");
           newTextBoxDiv.after().html("<input name=\"grain"+grain_counter+"_type\" id=\"grain"+grain_counter+"_type\" class=\"pure-u-23-24\" type=\"text\" placeholder=\"Type\">");
           newTextBoxDiv.appendTo("#grain_group");
           //grain amount box
           var newTextBoxDiv = $(document.createElement('div')).attr("class", "pure-u-1-2");
           newTextBoxDiv.after().html("<input name=\"grain"+grain_counter+"_amount\" id=\"grain"+grain_counter+"_amount\" class=\"pure-u-23-24\" type=\"text\" placeholder=\"Amount (in lbs)\">");
           newTextBoxDiv.appendTo("#grain_group");
           grain_counter++;
       });

      $("#removeGrain").click(function () {
          if(grain_counter==2){
            alert("No more textbox to remove");
            return false;
          }
          grain_counter--;
          $("#grain" + grain_counter + "_type").remove();
          $("#grain" + grain_counter + "_amount").remove();
      });

      var hop_counter = 2;
      $("#addHop").click(function () {
           //hop type box
           var newTextBoxDiv = $(document.createElement("div")).attr("class", "pure-u-1-3");
           newTextBoxDiv.after().html("<input name=\"hop"+hop_counter+"_type\" id=\"hop"+hop_counter+"_type\" class=\"pure-u-23-24\" type=\"text\" placeholder=\"Type\">");
           newTextBoxDiv.appendTo("#hop_group");
           //hop amount box
           var newTextBoxDiv = $(document.createElement('div')).attr("class", "pure-u-1-3");
           newTextBoxDiv.after().html("<input name=\"hop"+hop_counter+"_amount\" id=\"hop"+hop_counter+"_amount\" class=\"pure-u-23-24\" type=\"text\" placeholder=\"Amount (in oz)\">");
           newTextBoxDiv.appendTo("#hop_group");
           //hop minutes box
           var newTextBoxDiv = $(document.createElement('div')).attr("class", "pure-u-1-3");
           newTextBoxDiv.after().html("<input name=\"hop"+hop_counter+"_mins\" id=\"hop"+hop_counter+"_mins\" class=\"pure-u-23-24\" type=\"text\" placeholder=\"Minutes\">");
           newTextBoxDiv.appendTo("#hop_group");
           hop_counter++;
       });

      $("#removeHop").click(function () {
          if(hop_counter==2){
            alert("No more textbox to remove");
            return false;
          }
          hop_counter--;
          $("#hop" + hop_counter + "_type").remove();
          $("#hop" + hop_counter + "_amount").remove();
          $("#hop" + hop_counter + "_mins").remove();
      });

      });
    </script>

</head>
<body>


    <div class="header">
        <div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
            <a class="pure-menu-heading" href="index.html">Sears Beers</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="on_tap.html" class="pure-menu-link">On Tap</a></li>
                <li class="pure-menu-item"><a href="fermenting.html" class="pure-menu-link">Fermenting</a></li>
                <li class="pure-menu-item"><a href="brews.html" class="pure-menu-link">Brews</a></li>
                <li class="pure-menu-item"><a href="history.html" class="pure-menu-link">History</a></li>
                <li class="pure-menu-item pure-menu-disabled"></li>
{% if session['logged_in'] %}
                <li class="pure-menu-item"><a href="add_brew.html" class="pure-menu-link">Add Brew</a></li>
                <li class="pure-menu-item"><a href="logout.html" class="pure-menu-link">Log Out</a></li>
{% else %}
                <li class="pure-menu-item"><a href="login.html" class="pure-menu-link">Log In</a></li>
{% endif %}
            </ul>
        </div>
    </div>

    <div class="banner">
        <h1 class="banner-head">
            Add Brew<br>
        </h1>
    </div>

<div id="layout">

    <div id="main">
        <div class="header">
            <h1>Add a Brew</h1>
        </div>

        <div class="content">
          <form action="/add_brew.html" class="pure-form pure-form-stacked" method="post" >
              <fieldset>

                  <h2>Brew Name</h2>
                  <div class="pure-g">
                      <div class="pure-u-1 pure-u-md-1-3">
                          <label for="brew-name">Brew Name</label>
                          <input name="brew-name" class="pure-u-23-24" type="text" required>
                      </div>
                      <div class="pure-u-1 pure-u-md-1-3">
                          <label for="brew-style">Brew Style</label>
                          <input name="brew-style" class="pure-u-23-24" type="text" required>
                      </div>
                      <div class="pure-u-1 pure-u-md-1-3">
                          <label for="brew-date">Brew Date</label>
                          <input name="brew-date" class="pure-u-23-24" type="date" required>
                      </div>
                      <div class="pure-u-1">
                          <label for="brew-description">Description</label>
                          <textarea name="brew-description" class="pure-input-1-2" placeholder="Description" required></textarea>
                      </div>
                      <div class="pure-u-1 pure-u-md-1-3">
                          <label for="brew-og">OG</label>
                          <input name="brew-og" class="pure-u-23-24" type="text" required>
                      </div>
                      <div class="pure-u-1 pure-u-md-1-3">
                          <label for="brew-fg">FG</label>
                          <input name="brew-fg" class="pure-u-23-24" type="text" required>
                      </div>
                      <div class="pure-u-1 pure-u-md-1-3">
                          <label for="brew-abv">ABV</label>
                          <input name="brew-abv" class="pure-u-23-24" type="text" required>
                      </div>
                      <div class="pure-u-1 pure-u-md-1-3">
                          <label for="brew-ibu">IBU</label>
                          <input name="brew-ibu" class="pure-u-23-24" type="text" required>
                      </div>
                      <div class="pure-u-md-2-3"></div>
                      <div class="pure-u-1 pure-u-md-1-3">
                          <label for="brew-id">ID</label>
                          <input name="brew-id" class="pure-u-23-24" type="text" required>
                      </div>
                      <div class="pure-u-md-2-3"></div>
                      <div class="pure-u-1 pure-u-md-1-2">
                          <label for="brew-style_type">Style Type</label>
                          <select name="brew-style_type" class="pure-input-1-2">
                              <option>IPA/PA</option>
                              <option>Stout/Porter</option>
                              <option>Belgian Ale</option>
                              <option>Wheat</option>
                              <option>Cider</option>
                              <option>Other</option>
                          </select>
                      </div>
                      <div class="pure-u-1 pure-u-md-1-2">
                          <label for="brew-water_profile">Water Profile</label>
                          <select name="brew-water_profile" class="pure-input-1-2">
                              <option>MV Hoppy 4 Gal</option>
                              <option>MV Balanced 4 Gal</option>
                              <option>MV Malty 4 Gal</option>
                          </select>
                      </div>
                  </div>

                  <h2>Recipe</h2>

                  <h3>Grain</h3>
                  <div class="pure-g" id="grain_group">
                      <div class="pure-u-1-2">
                            <input name="grain1_type" id="grain1_type" class="pure-u-23-24" type="text" placeholder="Type">
                      </div>
                      <div class="pure-u-1-2">
                            <input name="grain1_amount" id="grain1_amount" class="pure-u-23-24" type="text" placeholder="Amount (in lbs)">
                      </div>
                  </div>
                  <input type="button" value="Add Grain" id="addGrain">
                  <input type="button" value="Remove Grain" id="removeGrain">

                  <h3>Hops</h3>
                  <div class="pure-g" id="hop_group">
                      <div class="pure-u-1-3">
                            <input name="hop1_type" id="hop1_type" class="pure-u-23-24" type="text" placeholder="Type">
                      </div>
                      <div class="pure-u-1-3">
                            <input name="hop1_amount" id="hop1_amount" class="pure-u-23-24" type="text" placeholder="Amount (in oz)">
                      </div>
                      <div class="pure-u-1-3">
                            <input name="hop1_mins" id="hop1_mins" class="pure-u-23-24" type="text" placeholder="Minutes">
                      </div>
                  </div>
                  <input type="button" value="Add Hop" id="addHop">
                  <input type="button" value="Remove Hop" id="removeHop">

                  <h3>Yeast</h3>
                  <div class="pure-g" id="yeast_group">
                      <div class="pure-u-1">
                            <input name="yeast_type" class="pure-u-23-24" type="text" placeholder="Type">
                      </div>
                      <div class="pure-u-1">
                            <input name="yeast_temp" class="pure-u-23-24" type="text" placeholder="Temp">
                      </div>
                  </div>

                  <label for="bottles" class="pure-checkbox">
                      <input name="is_in_bottles" type="checkbox"> This beer is in bottles
                  </label>
                  <label for="tap" class="pure-checkbox">
                      <input name="is_on_tap" type="checkbox"> This beer is on tap
                  </label>
                  <label for="fermenting" class="pure-checkbox">
                      <input name="is_fermenting" type="checkbox"> This beer is currently fermenting
                  </label>

                  <button type="submit" class="pure-button pure-button-primary">Submit</button>

              </fieldset>
          </form>

        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/ui.js') }}"></script>

</body>
</html>

