<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Landing page for searsbeers.com.">

    <title>Sears Beers</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/pure-release-0.6.0/pure-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts/gallery-grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts/gallery.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sears_beers_brews.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pure-release-0.6.0/grids-responsive-min.css') }}">

</head>
<body>

<div>
    <div class="header">
        <div class="pure-menu pure-menu-horizontal">
            <a class="pure-menu-heading" href="index.html">Sears Beers</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="on_tap.html" class="pure-menu-link">On Tap</a></li>
                <li class="pure-menu-item"><a href="fermenting.html" class="pure-menu-link">Fermenting</a></li>
                <li class="pure-menu-item"><a href="brews.html" class="pure-menu-link">Brews</a></li>
            </ul>
        </div>
    </div>

    <div class="banner">
        <h1 class="banner-head">
            Past and Current Beers<br>
            Recipes and Stats
        </h1>
    </div>
<div class="l-content">
    <div class="landing-tables pure-g">
      <!-- ***********************Begin IPA Table ************************ -->
        <div class="pure-u-1 pure-u-md-1-8">
            <div class="landing-table landing-table-tap">
                <div class="landing-table-header">
                    <h2></h2>
                    <span class="landing-table-price">
                       <span>IPA</span>
                    </span>
                </div>

                <ul class="landing-table-list">
                {% for brew in brews %}
                    {% if brew['style_type']|string() == "IPA" %}
                    <li>{{brew['name']}}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
      <!-- ***********************End IPA Table ************************ -->
      <!-- ***********************Begin Pale Ale Table ******************** -->
        <div class="pure-u-1 pure-u-md-1-8">
            <div class="landing-table landing-table-tap">
                <div class="landing-table-header">
                    <h2></h2>
                    <span class="landing-table-price">
                       <span>Pale Ale</span>
                    </span>
                </div>

                <ul class="landing-table-list">
                {% for brew in brews %}
                    {% if brew['style_type']|string() == "Pale Ale" %}
                    <li>{{brew['name']}}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
      <!-- ***********************End Pale Ale Table ********************* -->
      <!-- ***********************Begin Stout/Porter Table ******************** -->
        <div class="pure-u-1 pure-u-md-1-8">
            <div class="landing-table landing-table-tap">
                <div class="landing-table-header">
                    <h2></h2>
                    <span class="landing-table-price">
                       <span>Stout/Porter</span>
                    </span>
                </div>

                <ul class="landing-table-list">
                {% for brew in brews %}
                    {% if brew['style_type']|string() == "Stout/Porter" %}
                    <li>{{brew['name']}}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
      <!-- ***********************End Porter Table ********************* -->
      <!-- ***********************Begin Belgian Ale Table ***************** -->
        <div class="pure-u-1 pure-u-md-1-8">
            <div class="landing-table landing-table-tap">
                <div class="landing-table-header">
                    <h2></h2>
                    <span class="landing-table-price">
                       <span>Belgian Ale</span>
                    </span>
                </div>

                <ul class="landing-table-list">
                {% for brew in brews %}
                    {% if brew['style_type']|string() == "Belgian Ale" %}
                    <li>{{brew['name']}}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
      <!-- ***********************End Belgian Ale Table ****************** -->
      <!-- ***********************Begin Wheat Table ***************** -->
        <div class="pure-u-1 pure-u-md-1-8">
            <div class="landing-table landing-table-tap">
                <div class="landing-table-header">
                    <h2></h2>
                    <span class="landing-table-price">
                       <span>Wheat</span>
                    </span>
                </div>

                <ul class="landing-table-list">
                {% for brew in brews %}
                    {% if brew['style_type']|string() == "Wheat" %}
                    <li>{{brew['name']}}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
      <!-- ***********************End Wheat Table ****************** -->
      <!-- ***********************Begin Wheat Table ***************** -->
        <div class="pure-u-1 pure-u-md-1-8">
            <div class="landing-table landing-table-tap">
                <div class="landing-table-header">
                    <h2></h2>
                    <span class="landing-table-price">
                       <span>Cider</span>
                    </span>
                </div>

                <ul class="landing-table-list">
                {% for brew in brews %}
                    {% if brew['style_type']|string() == "Cider" %}
                    <li>{{brew['name']}}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
      <!-- ***********************End Wheat Table ****************** -->
      <!-- ***********************Begin Other Table ***************** -->
        <div class="pure-u-1 pure-u-md-1-8">
            <div class="landing-table landing-table-tap">
                <div class="landing-table-header">
                    <h2></h2>
                    <span class="landing-table-price">
                       <span>Other</span>
                    </span>
                </div>

                <ul class="landing-table-list">
                {% for brew in brews %}
                    {% if brew['style_type']|string() == "Other" %}
                    <li>{{brew['name']}}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
      <!-- ***********************End Wheat Table ****************** -->

    </div> <!-- end tables -->
</div> <!-- end tables -->

</body>
</html>
