<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Real Time Stats for the Current Fermenting Brew.">

    <title>Current Brew Fermenting</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/pure-release-0.6.0/pure-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pure-release-0.6.0/grids-responsive-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sears_beers_fermentation.css') }}">
    <script src="{{ url_for('static', filename='jquery-1.11.2.min.js') }}"></script>
    <script type="text/javascript"
        src="/static/js/sijax/sijax.js"></script>
    <script type="text/javascript">
        {{ g.sijax.get_js()|safe }}
    </script>

    <!-- Fermentation temperature graph  -->
    <script type="text/javascript">
      window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer",
        {
          theme: "theme2",
          title:{
            text: "Fermentation Temperature - Over Time"
          },
          animationEnabled: true,
          axisX: {
            valueFormatString: "hh TT DD-MMM",
            interval:1,
            intervalType: "",
            labelAngle: -60
          },
          axisY:{
            includeZero: false
          },
          data: [
          {
            type: "line",
            //lineThickness: 3,
            dataPoints: [
            {% for temp in tempList %}
            { x: new Date(Date.UTC ({{temp['year']}}, {{temp['month']}}-1, {{temp['day']}}, {{temp['hour']}},{{temp['minute']}}) ),   y: {{temp['temp']}} },
            {% endfor %}
            ]
          }
          ]
        });

    chart.render();
    }
    </script>
    <script src="{{ url_for('static', filename='canvasjs/jquery.canvasjs.min.js') }}"></script>

</head>
<body>
    <div class="menu-header">
        <div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
            <a class="pure-menu-heading" href="index.html">Sears Beers</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="on_tap.html" class="pure-menu-link">On Tap</a></li>
                <li class="pure-menu-item"><a href="fermenting.html" class="pure-menu-link">Fermenting</a></li>
                <li class="pure-menu-item"><a href="brews.html" class="pure-menu-link">Brews</a></li>
                <li class="pure-menu-item pure-menu-disabled"></li>
{% if session['logged_in'] %}
                <li class="pure-menu-item"><a href="logout.html" class="pure-menu-link">Log Out</a></li>
{% else %}
                <li class="pure-menu-item"><a href="login.html" class="pure-menu-link">Log In</a></li>
{% endif %}
            </ul>
        </div>
    </div> <!-- menu -->

    <div id="banner" class=banner>
        <div class="banner-head">
            <h2>Fermentation Chamber Status</h2>
            <h4>Current Brew Fermenting: {{ name }}</h4>
            <h3 id="latest_temp">Latest Fermentation Temperature: </h3>
            <script>
                Sijax.request('update_ferm_temp') <!-- initial load -->
                setInterval(function(){
                    Sijax.request('update_ferm_temp')
                },2000);
            </script>
        </div><!--header -->
    </div><!--banner -->


    <div id="main" class=main>

        <!-- ***************** Temperature graph **************************-->
        <div class="pure-g" >
            <div class="pure-u-1-24"> </div>
            <div class="pure-u-22-24">
                <div id="chartContainer" style="height: 300px; width: 100%;">
                </div>

            </div><!--pure-u-22-24 -->
            <div class="pure-u-1-24"> </div>
        </div><!--pure-g -->

        <!-- ************** End Temperature graph **************************-->
        <!-- ************** begin stats **************************-->
        <div class="pure-g" style="text-align:center">
            <div class="pure-u-1 pure-u-md-1-3">
                <h3> Chamber Average Temp: {{fermStats[0]['avg']}}&degF </h3>
            </div>
            <div class="pure-u-1 pure-u-md-1-3">
                <h3> Chamber Set Temp: {{fermStats[0]['set_temp']}}&degF </h3>
            </div>
            <div class="pure-u-1 pure-u-md-1-3">
                <h3> Chamber Set Range: {{fermStats[0]['set_range']}}&degF </h3>
            </div>
        </div><!--pure-g -->
        <!-- ************** end stats **************************-->

    </div><!--main -->

<script src="{{ url_for('static', filename='js/ui.js') }}"></script>


</body>
</html>
