<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Landing page for EdwardWSears.com.">

    <title>EdwardWsears</title>

    


<link rel="stylesheet" href="{{ url_for('static', filename='css/pure-release-0.6.0/pure-min.css') }}">







  
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/gallery-grid-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts/gallery-grid.css') }}">
    <!--<![endif]-->
  

  
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/gallery-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts/gallery.css') }}">
    <!--<![endif]-->
  


    

    

</head>
<body>







<div>
    <div class="header">
        <div class="pure-menu pure-menu-horizontal">
            <a class="pure-menu-heading" href="index.html">EdwardWSears</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="brewing/on_tap.html" class="pure-menu-link">Brewing</a></li>
                <li class="pure-menu-item"><a href="lifting/lifting.html" class="pure-menu-link">Lifting</a></li>
            </ul>
        </div>
    </div>

    <div class="pure-g">
        <div class="photo-box u-1 u-med-1-2 u-lrg-1-4">
            <a href="brewing/on_tap.html">
                <img src="{{ url_for('static', filename='images/beer-o-clock-jun_ONG.jpg') }}"
                     alt="Brewing">
            </a>

            <aside class="photo-box-caption">
                <span><a href="brewing/on_tap.html">Brewing</a></span>
            </aside>
        </div>

        <div class="photo-box u-1 u-med-1-2 u-lrg-1-4">
            <a href="lifting/lifting.html">
                <img src="{{ url_for('static', filename='images/lifting.jpg') }}"
                     alt="Lifting">
            </a>

            <aside class="photo-box-caption">
                <span><a href="brewing/on_tap.html">Lifting</a></span>
            </aside>
        </div>

<div class="pure-u-1-1">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <p style="font-size:50%">Photos from: https://c1.staticflickr.com/1/14/91931102_365d37b3f8_b.jpg, http://specificmechanical.com/wp-content/uploads/2010/07/beer-o-clock-jun_ONG.jpg</p>

</div>

</body>
</html>
