<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Landing page for searsbeers.com.">

    <title>Sears Beers</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/pure-release-0.6.0/pure-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts/gallery-grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts/gallery.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sears_beers_landing.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pure-release-0.6.0/grids-responsive-min.css') }}">

</head>
<body>

<div>
    <div class="header">
        <div class="pure-menu pure-menu-horizontal">
            <a class="pure-menu-heading" href="index.html">Sears Beers</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="on_tap.html" class="pure-menu-link">On Tap</a></li>
                <li class="pure-menu-item"><a href="fermenting.html" class="pure-menu-link">Fermenting</a></li>
                <li class="pure-menu-item"><a href="brews.html" class="pure-menu-link">Brews</a></li>
                <li class="pure-menu-item pure-menu-disabled"></li>
{% if session['logged_in'] %}
                <li class="pure-menu-item"><a href="logout.html" class="pure-menu-link">Log Out</a></li>
{% else %}
                <li class="pure-menu-item"><a href="login.html" class="pure-menu-link">Log In</a></li>
{% endif %}
            </ul>
        </div>
    </div>

    <div class="banner">
        <h1 class="banner-head">
            Sears Beers <br>
        </h1>
        <p class="banner-subhead">
            The Official Source for all things Sears <em>and</em> Beers
        </p>
    </div>
<div class="l-content">
    <div class="landing-tables pure-g">
        <div class="pure-u-1 pure-u-md-1-3">
            <div class="landing-table landing-table-tap">
                <div class="landing-table-header">
                    <h2>Current Beers</h2>

                    <span class="landing-table-price">
                       <span><br> On Tap <br> + <br> in bottles</span>
                    </span>
                </div>

                <ul class="landing-table-list">
                {% for brew in brewData %}
                    {% if brew['on_tap'] == 1 %}
                    <li>{{brew['name']}}</li>
                    {% endif %}
                {% endfor %}
                {% for brew in brewData %}
                    {% if brew['in_bottles'] == 1 %}
                    <li>{{brew['name']}}</li>
                    {% endif %}
                {% endfor %}
                </ul>

                <a href="on_tap.html" class="button-choose pure-button">details</a>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <div class="landing-table landing-table-fermenting">
                <div class="landing-table-header">
                    <h2>Next up</h2>

                    <span class="landing-table-price">
                       <span> <br> <br> Fermenting <br> <br> </span>
                    </span>
                </div>

                <ul class="landing-table-list">
                    <li>{{tempList[0]['temperature']}}&degF</li>
                {% for brew in brewData %}
                    {% if brew['fermenting'] == 1 %}
                    <li>{{brew['name']}}</li>
                    {% endif %}
                {% endfor %}
                </ul>

                <a href="fermenting.html" class="button-choose pure-button">details</a>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <div class="landing-table landing-table-brews">
                <div class="landing-table-header">
                    <h2>Past Beers</h2>

                    <span class="landing-table-price">
                       <span><br> Recipes <br> + <br> stats</span>
                    </span>
                </div>

                <ul class="landing-table-list">
                </ul>

                <a href="brews.html" class="button-choose pure-button">details</a>
            </div>
        </div>
    </div> <!-- end tables -->

</body>
</html>
