<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Brew Tech.">

    <title>Brew Tech</title>

    


<link rel="stylesheet" href="{{ url_for('static', filename='css/pure-release-0.6.0/pure-min.css') }}">







  
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts/side-menu.css') }}">
    <!--<![endif]-->
  
<!-- TODO back to this..<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
<script src="{{ url_for('static', filename='jquery-1.11.2.min.js') }}"></script>


<script type="text/javascript">
 
$(document).ready(function(){
 
  var grain_counter = 2;
  $("#addGrain").click(function () {
       //grain type box
       var newTextBoxDiv = $(document.createElement("div")).attr("class", "pure-u-1-2");
       newTextBoxDiv.after().html("<input name=\"grain"+grain_counter+"_type\" class=\"pure-u-23-24\" type=\"text\" placeholder=\"Type\">");
       newTextBoxDiv.appendTo("#grain_group");
       //grain amount box
       var newTextBoxDiv = $(document.createElement('div')).attr("class", "pure-u-1-2");
       newTextBoxDiv.after().html("<input name=\"grain"+grain_counter+"_amount\" class=\"pure-u-23-24\" type=\"text\" placeholder=\"Amount (in lbs)\">");
       newTextBoxDiv.appendTo("#grain_group");
       grain_counter++;
   });
 
  $("#removeGrain").click(function () {
      if(grain_counter==2){
        alert("No more textbox to remove");
        return false;
      }   
      grain_counter--;
      $("#grain" + grain_counter + "_type").remove();
      $("#grain" + grain_counter + "_amount").remove();
  });

  var hop_counter = 2;
  $("#addHop").click(function () {
       //hop type box
       var newTextBoxDiv = $(document.createElement("div")).attr("class", "pure-u-1-3");
       newTextBoxDiv.after().html("<input name=\"hop"+hop_counter+"_type\" class=\"pure-u-23-24\" type=\"text\" placeholder=\"Type\">");
       newTextBoxDiv.appendTo("#hop_group");
       //hop amount box
       var newTextBoxDiv = $(document.createElement('div')).attr("class", "pure-u-1-3");
       newTextBoxDiv.after().html("<input name=\"hop"+hop_counter+"_amount\" class=\"pure-u-23-24\" type=\"text\" placeholder=\"Amount (in oz)\">");
       newTextBoxDiv.appendTo("#hop_group");
       //hop minutes box
       var newTextBoxDiv = $(document.createElement('div')).attr("class", "pure-u-1-3");
       newTextBoxDiv.after().html("<input name=\"hop"+hop_counter+"_mins\" class=\"pure-u-23-24\" type=\"text\" placeholder=\"Minutes\">");
       newTextBoxDiv.appendTo("#hop_group");
       hop_counter++;
   });
 
  $("#removeHop").click(function () {
      if(hop_counter==2){
        alert("No more textbox to remove");
        return false;
      }   
      hop_counter--;
      $("#hop" + hop_counter + "_type").remove();
      $("#hop" + hop_counter + "_amount").remove();
      $("#hop" + hop_counter + "_mins").remove();
  });
 
  });
</script>    

    

</head>
<body>






<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="../index.html">Brewing</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="on_tap.html" class="pure-menu-link">On Tap</a></li>
                <li class="pure-menu-item"><a href="fermenting.html" class="pure-menu-link">Fermenting</a></li>
                <li class="pure-menu-item"><a href="brews.html" class="pure-menu-link">Brews</a></li>
                <li class="pure-menu-item "><a href="brew_tech.html" class="pure-menu-link">Brew Tech</a></li>
                <li class="pure-menu-item pure-menu-disabled"></li>
                <li class="pure-menu-item pure-menu-disabled"></li>
                <li class="pure-menu-item pure-menu-disabled"></li>
                <li class="pure-menu-item pure-menu-selected"><a href="add_brew.html" class="pure-menu-link">Add Brew</a></li>


            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            <h1>Add a Brew</h1>
        </div>

        <div class="content">
          <form class="pure-form pure-form-stacked" method="post" >
              <fieldset>

                  <h2>Brew Name</h2>
                  <div class="pure-g">
                      <div class="pure-u-1 pure-u-md-1-3">
                          <label for="brew-name">Brew Name</label>
                          <input name="brew-name" class="pure-u-23-24" type="text" required>
                      </div>
                      <div class="pure-u-1 pure-u-md-1-3">
                          <label for="brew-type">Brew Type</label>
                          <input name="brew-type" class="pure-u-23-24" type="text" required>
                      </div>
                      <div class="pure-u-1 pure-u-md-1-3">
                          <label for="brew-date">Brew Date</label>
                          <input name="brew-date" class="pure-u-23-24" type="date" required>
                      </div>
                  </div>

                  <h2>Recipe</h2>

                  <h3>Grain</h3>
                  <div class="pure-g" id="grain_group">
                      <div class="pure-u-1-2">
                            <input name="grain1_type" class="pure-u-23-24" type="text" placeholder="Type">
                      </div>
                      <div class="pure-u-1-2">
                            <input name="grain1_amount" class="pure-u-23-24" type="text" placeholder="Amount (in lbs)">
                      </div>
                  </div>
                  <input type="button" value="Add Grain" id="addGrain">
                  <input type="button" value="Remove Grain" id="removeGrain">

                  <h3>Hops</h3>
                  <div class="pure-g" id="hop_group">
                      <div class="pure-u-1-3">
                            <input name="hop1_type" class="pure-u-23-24" type="text" placeholder="Type">
                      </div>
                      <div class="pure-u-1-3">
                            <input name="hop1_amount" class="pure-u-23-24" type="text" placeholder="Amount (in oz)">
                      </div>
                      <div class="pure-u-1-3">
                            <input name="hop1_mins" class="pure-u-23-24" type="text" placeholder="Minutes">
                      </div>
                  </div>
                  <input type="button" value="Add Hop" id="addHop">
                  <input type="button" value="Remove Hop" id="removeHop">

                  <h3>Yeast</h3>
                  <div class="pure-g" id="yeast_group">
                      <div class="pure-u-1-4">
                            <input name="yeast_type" class="pure-u-23-24" type="text" placeholder="Type">
                      </div>
                      <div class="pure-u-1-4">
                            <input name="starter_vol" class="pure-u-23-24" type="text" placeholder="Starter Vol (in L)">
                      </div>
                      <div class="pure-u-1-4">
                            <input name="starter_dme" class="pure-u-23-24" type="text" placeholder="Starter DME (in ?)">
                      </div>
                      <div class="pure-u-1-4">
                            <input name="vol_pitched" class="pure-u-23-24" type="text" placeholder="Volume Pitched (in L)">
                      </div>
                  </div>

                  <h3>Mash</h3>
                  <div class="pure-g" id="mash_group">
                      <div class="pure-u-1-4">
                            <input name="pre_boil_vol" class="pure-u-23-24" type="text" placeholder="Pre Boil Volume (in Gal)">
                      </div>
                      <div class="pure-u-1-4">
                            <input name="strike_temp" class="pure-u-23-24" type="text" placeholder="Strike Temp">
                      </div>
                      <div class="pure-u-1-4">
                            <input name="mash_temp" class="pure-u-23-24" type="text" placeholder="Mash Temp">
                      </div>
                      <div class="pure-u-1-4">
                            <input name="mash_time" class="pure-u-23-24" type="text" placeholder="Mash Time (in mins)">
                      </div>
                      <div class="pure-u-1-4">
                            <input name="OG" class="pure-u-23-24" type="text" placeholder="OG">
                      </div>
                      <div class="pure-u-1-4">
                            <input name="FG" class="pure-u-23-24" type="text" placeholder="FG">
                      </div>
                      <div class="pure-u-1-4">
                            <input name="ABV" class="pure-u-23-24" type="text" placeholder="ABV">
                      </div>
                      <div class="pure-u-1-4">
                            <input name="vol_into_fermenter" class="pure-u-23-24" type="text" placeholder="Volume into Fermenter (in Gal)">
                      </div>
                  </div>

                  <label for="bottles" class="pure-checkbox">
                      <input name="is_in_bottles" type="checkbox"> This beer is in bottles
                  </label>
                  <label for="tap" class="pure-checkbox">
                      <input name="is_on_tap" type="checkbox"> This beer is on tap
                  </label>
                  <label for="fermenting" class="pure-checkbox">
                      <input name="is_fermenting" type="checkbox"> This beer is currently fermenting
                  </label>

                  <button type="submit" class="pure-button pure-button-primary">Submit</button>
              </fieldset>
          </form>

          <a class="pure-button" href="/brewing/logout">Logout</a>

        </div>
    </div>
</div>





<script src="{{ url_for('static', filename='js/ui.js') }}"></script>


</body>
</html>

