<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Shows the stats and recipies for past brews.">

    <title>Brews</title>

    


<link rel="stylesheet" href="{{ url_for('static', filename='css/pure-release-0.6.0/pure-min.css') }}">







  
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts/side-menu.css') }}">
    <!--<![endif]-->
  


    

    

</head>
<body>






<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="../index.html">Brewing</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="on_tap.html" class="pure-menu-link">On Tap</a></li>
                <li class="pure-menu-item"><a href="fermenting.html" class="pure-menu-link">Fermenting</a></li>
                <li class="pure-menu-item pure-menu-selected"><a href="brews.html" class="pure-menu-link">Brews</a></li>
                <li class="pure-menu-item"><a href="brew_tech.html" class="pure-menu-link">Brew Tech</a></li>
                <li class="pure-menu-item pure-menu-disabled"></li>
                <li class="pure-menu-item pure-menu-disabled"></li>
                <li class="pure-menu-item pure-menu-disabled"></li>
                <li class="pure-menu-item"><a href="add_brew.html" class="pure-menu-link">Add Brew</a></li>


            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            <h1>Brews</h1>
            <h2>Recipies and stats for past brews</h2>
        </div>

        <div class="content">
            <div class="pure-u-1-5">
              <div class="pure-menu custom-restricted-width">
                <ul class="pure-menu-list">
                    <li class="pure-menu-heading">IPA</li>
                    <li class="pure-menu-item"><a href="ipa_1.html" class="pure-menu-link">IPA 1</a></li>
                    <li class="pure-menu-item"><a href="ipa_2.html" class="pure-menu-link">IPA 2</a></li>
                </ul>
              </div>
            </div> <!-- pure u -->

            <div class="pure-u-1-5">
              <div class="pure-menu custom-restricted-width">
                <ul class="pure-menu-list">
                    <li class="pure-menu-heading">Irish Red</li>
                    <li class="pure-menu-item"><a href="irish_red_1.html" class="pure-menu-link">Irish Red 1</a></li>
                </ul>
              </div>
            </div> <!-- pure u -->

            <div class="pure-u-1-5">
              <div class="pure-menu custom-restricted-width">
                <ul class="pure-menu-list">
                    <li class="pure-menu-heading">Weizen</li>
                    <li class="pure-menu-item"><a href="dunkelweizen_1.html" class="pure-menu-link">Dunkelweizen 1</a></li>
                </ul>
              </div>
            </div> <!-- pure u -->

            <div class="pure-u-1-5">
              <div class="pure-menu custom-restricted-width">
                <ul class="pure-menu-list">
                    <li class="pure-menu-heading">Porter</li>
                    <li class="pure-menu-item"><a href="porter_1.html" class="pure-menu-link">Brown Porter 1</a></li>
                </ul>
              </div>
            </div> <!-- pure u -->
        </div> <!-- content -->
    </div> <!-- main -->
</div> <!-- layout -->





<script src="{{ url_for('static', filename='js/ui.js') }}"></script>


</body>
</html>
