<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Real Time Stats for the Current Fermenting Brew.">

    <title>Current Brew Fermenting</title>

    


<link rel="stylesheet" href="{{ url_for('static', filename='css/pure-release-0.6.0/pure-min.css') }}">







  
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts/side-menu.css') }}">
    <!--<![endif]-->
  


<!-- Fermentation temperature graph  -->
<script type="text/javascript">
  window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
      theme: "theme2",
      title:{
        text: "Fermentation Temperature - by Hour"
      },
      animationEnabled: true,
      axisX: {
        valueFormatString: "hh TT DD-MMM",
        interval:1,
        intervalType: "",
        labelAngle: -60
        
      },
      axisY:{
        includeZero: false
        
      },
      data: [
      {        
        type: "line",
        //lineThickness: 3,        
        dataPoints: [
        { x: new Date(Date.UTC (2012, 01, 1, 1,0) ),   y: 65 },
        { x: new Date(Date.UTC (2012, 01, 1, 2,0) ),   y: 63 },
        { x: new Date(Date.UTC (2012, 01, 1, 3,0) ),   y: 65 },
        { x: new Date(Date.UTC (2012, 01, 1, 4,0) ),   y: 68 },
        { x: new Date(Date.UTC (2012, 01, 1, 5,0) ),   y: 69 },
        { x: new Date(Date.UTC (2012, 01, 1, 6,0) ),   y: 60 },
        { x: new Date(Date.UTC (2012, 01, 1, 7,0) ),   y: 65 }
        
        ]
      }
      
      
      ]
    });

chart.render();
}
</script>
    
<script src="{{ url_for('static', filename='canvasjs/jquery.canvasjs.min.js') }}"></script>
    

</head>
<body>






<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">

        <div class="pure-menu">
            <a class="pure-menu-heading" href="../index.html">Brewing</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="on_tap.html" class="pure-menu-link">On Tap</a></li>
                <li class="pure-menu-item pure-menu-selected"><a href="fermenting.html" class="pure-menu-link">Fermenting</a></li>
                <li class="pure-menu-item"><a href="brews.html" class="pure-menu-link">Brews</a></li>
                <li class="pure-menu-item"><a href="brew_tech.html" class="pure-menu-link">Brew Tech</a></li>
                <li class="pure-menu-item pure-menu-disabled"></li>
                <li class="pure-menu-item pure-menu-disabled"></li>
                <li class="pure-menu-item pure-menu-disabled"></li>
                <li class="pure-menu-item"><a href="add_brew.html" class="pure-menu-link">Add Brew</a></li>


            </ul>
        </div> <!--pure menu -->
    </div><!--menu -->

    <div id="main">
        <div class="header">
            <h1>Current Brew Fermenting: {{ name }}</h1>
            <h2>Real Time Stats for the Current Fermenting Brew</h2>
        </div><!--header -->

        <div class="content">
          <h2 class="content-subhead">Current Fermentation Temperature: 68F</h2>
          <br>

          <!-- Temperature graph -->
          <div id="chartContainer" style="height: 300px; width: 100%;">
          </div>

          <h2 class="content-subhead">Recipe</h2>

          <div class="pure-g">
            <div class="pure-u-1-2">
              <table class="pure-table pure-table-horizontal">
                  Grains:
                  <thead>
                      <tr>
                          <th>Pounds</th>
                          <th>Type</th>
                      </tr>
                  </thead>

                  <tbody>
                      <tr>
                          <td>5</td>
                          <td>Domestic 2-Row</td>
                      </tr>

                      <tr>
                          <td>.5</td>
                          <td>Crystal 40L</td>
                      </tr>

                      <tr>
                          <td>.5</td>
                          <td>Honey Malt</td>
                      </tr>
                  </tbody>
                </table>
            </div><!--pure-u -->

            <div class="pure-u-1-2">
              <table class="pure-table pure-table-horizontal">
                Hops:
                <thead>
                    <tr>
                        <th>Ounces</th>
                        <th>Type</th>
                        <th>Mins</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Magnum</td>
                        <td>60</td>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>Citra</td>
                        <td>10</td>
                    </tr>

                    <tr>
                        <td>.5</td>
                        <td>Cascade</td>
                        <td>10</td>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>Citra</td>
                        <td>1</td>
                    </tr>

                    <tr>
                        <td>.5</td>
                        <td>Cascade</td>
                        <td>1</td>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>Citra</td>
                        <td>Dry Hop</td>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>Cascade</td>
                        <td>Dry Hop</td>
                    </tr>
                </tbody>
              </table>
            </div><!--pure-u -->

            <div class="pure-u-1-2">
              <table class="pure-table pure-table-horizontal">
                  Yeast:
                  <tbody>
                      <tr>
                          <td>Type:</td>
                          <td>Wyeast 1056 (2nd Gen Harvested)</td>
                      </tr>

                      <tr>
                          <td>Starter Volume</td>
                          <td>1 L</td>
                      </tr>
                      <tr>
                          <td>Starter DME</td>
                          <td>3/4 Cup</td>
                      </tr>

                      <tr>
                          <td>Volume Pitched</td>
                          <td>1/2 L</td>
                      </tr>
                  </tbody>
                </table>
            </div><!--pure-u -->
          </div><!--pure-g -->

          <h2 class="content-subhead">Stats</h2>

          <div class="pure-g">
            <div class="pure-u-1-2">
              <table class="pure-table pure-table-horizontal">
                  Mash Stats:
                  <tbody>
                      <tr>
                          <td>Mash Volume (pre-boil)</td>
                          <td>4.3 gal</td>
                      </tr>

                      <tr>
                          <td>Strike Temp</td>
                          <td>162 F</td>
                      </tr>

                      <tr>
                          <td>Mash Temp</td>
                          <td>154 F</td>
                      </tr>
                      <tr>
                          <td>Mash Time</td>
                          <td>70 mins</td>
                      </tr>
                  </tbody>
                </table>
            </div><!--pure-u -->

            <div class="pure-u-1-2">
              <table class="pure-table pure-table-horizontal">
                  Post Mash Measurements:
                  <tbody>
                      <tr>
                          <td>OG</td>
                          <td>1.055</td>
                      </tr>

                      <tr>
                          <td>FG</td>
                          <td>?</td>
                      </tr>
                      <tr>
                          <td>ABV</td>
                          <td>?</td>
                      </tr>

                      <tr>
                          <td>Volume into Fermenter</td>
                          <td>3.1 Gal</td>
                      </tr>
                      <tr>
                          <td>Mash Time</td>
                          <td>70 mins</td>
                      </tr>
                  </tbody>
                </table>
            </div><!--pure-u -->

        </div><!--pure-g -->
      </div><!--content -->
    </div><!--main -->






<script src="{{ url_for('static', filename='js/ui.js') }}"></script>


</body>
</html>
