<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Shows stats for the current brew on tap">

    <title>On Tap</title>

    


<link rel="stylesheet" href="{{ url_for('static', filename='css/pure-release-0.6.0/pure-min.css') }}">







  
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts/side-menu.css') }}">
    <!--<![endif]-->
  

<!-- Beer Level animation  -->
<!-- TODO back to this..<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
<script src="{{ url_for('static', filename='jquery-1.11.2.min.js') }}"></script>

    

</head>
<body>






<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="../index.html">Brewing</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected"><a href="on_tap.html" class="pure-menu-link">On Tap</a></li>
                <li class="pure-menu-item"><a href="fermenting.html" class="pure-menu-link">Fermenting</a></li>
                <li class="pure-menu-item"><a href="brews.html" class="pure-menu-link">Brews</a></li>
                <li class="pure-menu-item"><a href="brew_tech.html" class="pure-menu-link">Brew Tech</a></li>
                <li class="pure-menu-item pure-menu-disabled"></li>
                <li class="pure-menu-item pure-menu-disabled"></li>
                <li class="pure-menu-item pure-menu-disabled"></li>
                <li class="pure-menu-item"><a href="add_brew.html" class="pure-menu-link">Add Brew</a></li>


            </ul>
        </div> 
    </div> <!-- menu -->

    <div id="main">
        <div class="header">
            <h1>On Tap</h1>
        </div> <!-- header -->

        <div class="content">
            <div class="pure-g">
              <div class="pure-u-1-2"> <!-- Beer level indicator -->
                <h1 class="content-subhead">Keg:</h2>
              </div> <!-- pure-u -->
              <div class="pure-u-1-2"> 
                <h1 class="content-subhead">Bottles:</h2>
              </div> <!-- pure-u -->
              <!-- FIRST ROW END -->
              <div class="pure-u-1-2"> 
              <div class="pure-g"> <!-- keg slice -->
              <div class="pure-u-1-1"> 
                <h2 class="content-subhead">Beer Name: {{ name }}</h2>
              </div>
              <div class="pure-u-1-10"> <!-- Beer level indicator -->
                <div class="skill">
                    <div class="outer">
                      <div class="inner" id="level" >
                          <div>
                          <script>
                          $(document).ready(function(){
                              var skillBar = $('#level');
                              var beers_left = {{current_volume}};
                              var total_beers = {{total_volume}};
                              var beers_left_percent = (beers_left/total_beers)*100;
                              var skillVal = beers_left_percent+"%"; //TODO add pull from db
                              $(skillBar).animate({
                                  height: skillVal
                              }, 1500);
                          });
                          </script>
                          </div>
                      </div>  <!-- inner -->
                    </div>  <!-- outer -->
                </div>  <!-- skill -->
              </div>  <!-- pure -->
              <div class="pure-u-4-5"> <!-- keg Beer count -->
                <h2 id="beers_left" class="content-subhead">Beers left: 32</h2> <!-- TODO add pull from DB -->
                <script>
                  $(document).ready(function(){
                    //TODO pull from DB
                    var beers_left={{current_volume}};
                    var beers_left_string = "Beers Left: "+beers_left;
                    $('#beers_left').text(beers_left_string);
                  });
                </script>
              </div>  <!-- pure u -->
              </div>  <!-- pure g -->
              </div>  <!-- pure u keg partition-->
              <div class="pure-u-1-2"> <!--current bottled Beers -->
                <table class="pure-table pure-table-horizontal">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date Brewed</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Irish Red 1</td>
                            <td>1/22/15</td>
                        </tr>

                        <tr>
                            <td>IPA 1</td>
                            <td>2/22/15</td>
                        </tr>

                    </tbody>
                  </table>
            </div>  <!-- pure g -->
        </div> <!-- content -->
    </div> <!-- main -->
</div> <!-- layout -->





<script src="{{ url_for('static', filename='js/ui.js') }}"></script>


</body>
</html>
